body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  list-style: none;
  text-decoration: none;
  padding-top: 50px;
  background: #F4F1EE;

}

.container{
  width: 100%;
 padding-left: 165px;
 padding-right: 165px;
 max-width: 1440px;
 margin-left: 0;
 
}
.flex{
  display: flex;
  justify-content: space-between;
  text-align: center;
}



/* .span__coffe-icon{
  width: 28.364px;
height: 34.191px;
display:inline block;
color: #000;
font-size: 14px;
font-weight: 400;
letter-spacing: 0.56px;
}

.site-header__header-wrapper li{
  display: flex;
width: 100px;
height: 29px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
  margin-right: 10px;
  color: #000;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.64px;
cursor: pointer;

}




.mein-section__wrap{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.main-section__text{
  width: 100%;
}
.main-section__text h1{
  width: 646px;
  height: 136px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #232020;
  font-family: ZCOOL XiaoWei;
  font-size: 45px;
  font-weight: 300;
  line-height: 70px;
  letter-spacing: 1.8px;
  padding-bottom: 33px;
  }
  .main-section__text p{
    padding-bottom: 90px;
    width: 500px;
    height: 93px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #404040;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    letter-spacing: 0.72px;
    }
    .buttons{
      margin-left: 0;
      display: flex;
    margin-right: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.64px;
    display: flex;
    width: 109px;
    height: 22px;
    justify-content: space-between;
    flex-shrink: 0;
    padding-bottom: 150px;
    }



.mein-section__button-black{
  width: 135px;
height: 41px;
flex-shrink: 0;
background: #232020;
box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
color: #FFF;
margin-right: 24px;
cursor: pointer;

}
.mein-section__button-wight {
  width: 135px;
  height: 41px;
  flex-shrink: 0;
  border: 1px solid #D48A5C; 
  cursor: pointer;
}
.main-section__text-img{
  width: 477px;
height: 506px;
flex-shrink: 0;
background: url(./component/img/img1.png);

}





.card-section__wrap{
  justify-content: space-between;
  width: 100%;
 height: 256px;
 flex-shrink: 0;
margin-bottom: 100px;

  
}
.card-section__wrap-img1{
  width: 350px;
  height: 256px;
  flex-shrink: 0;
  -webkit-box-shadow: -18px 14px 0px 0px rgba(212, 138, 92, 1);
-moz-box-shadow: -18px 14px 0px 0px rgba(212, 138, 92, 1);
box-shadow: -18px 14px 0px 0px rgba(212, 138, 92, 1);
}
.card-section__wrap-img-text{
  display: flex;
  width: 122px;
  height: 17px;
  justify-content: center;
  flex-shrink: 0;
  color: #232020;

}


.next__wrapper-text{
  position: relative;
}

.next__wrapper-text{
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 729px;



}
.next__wtapper-text-content{
  background-image: url(./component/img/img3.png);
  width: 100%;
  height: 729px;
flex-shrink: 0;
padding-top: 264px;
}

h1{
  display: flex;
  height: 67px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 55px;
  font-weight: 400;
  line-height: 65px;
  letter-spacing: 2.2px;

}
 p{
  display: flex;
  width: 671px;
height: 80px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #141313;
text-align: center;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 26px; 
letter-spacing: 0.64px;
padding-right: 385px;
padding-left: 385px;

}
.next__wrap-text-btn{
display: flex;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
background-color: black;
width: 152px;
height: 46px;
margin-left: 43%;
}
 */
